header a{
    display: flex;
    align-items: center;
}

.container-todo{
    background-color: #4bbf6b;
    min-height: 100vh;
    color: gray;
    padding: 30px;
}

.container-todo div header a{
    width: 200px;
    font-size: 25px;
    color: #ceead6;
}

.todo-icon{
    display: flex;
    flex-direction: column;
}

.todo-icon:hover{
    background: #e9e9e9;
}

.todo-icon:hover > .check-name svg{
    display: inherit;
}

.todo-icon:hover > .check-name{
    margin-right: 0;
}

.check-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.check-name svg{
    display: none;
}

.todo-icon span + span{
    display: flex;
    align-items: center;
    padding: 1px;
    font-size: 13px;
    margin-top: 2px;
}

.check-menu{
    width: 60px;
    height: 24px;
    padding: 3px;
}

.todo-done .todo-icon span + span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #61bd4f;
    color: #f0f0f0;
    font-size: 14px;
    padding-left: 3px;
}

.todo-icon span span{
    height: 13px;
    margin-right: 3px;
    margin-left: 3px;
}

.todo-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}

.todo-todo{
    background-color: #ebecf0;
    border-radius: 4px;
    padding: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.todo-done{
    background-color: #ebecf0;
    border-radius: 4px;
    padding: 15px;
    margin-right: 10px;
    height: 100%;
    cursor: pointer;
}

.todo-todo div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0 5px 0 5px;
}

.todo-done div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0 5px 0 5px;
}

.todo-todo li, .todo-done li{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #00000033;
    margin-bottom: 9px;
    border-radius: 3px;
    padding: 7px;
}

.new-todo{
    background: #76ce8e;
    height: 38px;
    width: 260px;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.new-todo:hover{
    background: #8bd39e;
}

.new-todo span{
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
}

.post-title{
    color: #ffffff;
    text-transform: capitalize;
}

.Pagetitle-todo{
    color: #ceead6;
    margin: 20px 0 10px 0;
}

.logo-todo{
    position: relative;
    width: 150px;
    margin-left: 25px;
}

@media(max-width: 1550px) {
    .container-todo{
        width: 1700px;
    }
    .todo-container{
        width: 1600px;
    }
}