.container{
    background: #fafafa;
    width: 100vw;
    height: 100%;
}

#pageAlbums {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pageAlbums header {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 100%;
}

#pageAlbums header a {
    color: var(--title-color);
    width: 200px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
}

#pageAlbums header a svg {
    margin-right: 16px;
    font-size: 25px;
    color: #000000;
}

.logo-album{
    height: 40px;
    position: relative;
}

.perfil{
    height: 160px;
    width: 100%;
    max-width: 935px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 45px;
}

.perfil-image{
    height: 168px;
    width: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-photo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    font-size: 90px;
    background-color: #6800db;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
}

.perfil-info{
    max-width: 613px;
    height: 160px;
}

.perfil-cima{
    height: 30px;
    width: 100%;
    color: #262626;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 300;
}

.perfil-meio{
    height: 18px;
    width: 100%;
    margin-bottom: 20px;
}

.perfil-meio span{
    margin-right: 50px;
    color: #262626;
    cursor: pointer;
}

.perfil-meio strong{
    margin-right: 5px;
    color: #262626;    
}

.perfil-baixo{
    height: 72px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #262626;
}

.perfil-baixo a{
    width: 200px;
    color:#00376b;
    text-decoration:none;
}

.perfil-baixo strong{
    letter-spacing: 0.5px;
}

.histories{
    height: 130px;
    width: 100%;
    max-width: 935px;
    display: flex;
    margin-bottom: 45px;
    padding-left: 30px;
}

.histories-photo{
    height: 130px;
    width: 115px;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.histories-photo div{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.histories-photo div div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
    width: 77px;
    border-radius: 50%;
    background-color: #5800d3;
    color: #f0f0f0;
    cursor: pointer;
    border: 2px solid #dbdbdb;    
}

.histories-photo div + div div{
    background-color: #8142da;
}

.histories-photo div div svg{
    height: 65px;
    width: 65px;
}

.histories-photo span{
    font-size: 14px;
    color: #262626;
    cursor: pointer;
}

.igtv-icon{
    height: 20px;
    width: 20px;
}

.album-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.album-menu{
    display: flex;
    width: 100%;
    height: 53px;
    max-width: 935px;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #8080807e;
    font-size: 14px;
}

.album-menu div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    height: 100%;
    color: #818181;
    cursor: pointer;
}

.album-menu div:first-child{
    margin-right: 60px;
    color: #262626;
    border-top: solid 1px #5c5c5c;
}

.album-menu span{
    margin-left: 10px;
    font-size: 13px;
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 935px;
    gap: 25px;
    list-style: none;
    background: transparent;
}

.album-grid li {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 1px 1px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.album-grid li div {
    flex: 1;
    margin-top: 2px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-align: left;
    height: 20px;
}

.imagem{
    width: 100%;
    align-self: center;
}

.album-title{
    color: var(--title-color);
    text-transform: capitalize;
}

.album-user{
    margin-left: 10px;
}

.album-user strong{
    margin-right: 8px;
}

.Pagetitle-albums{
    margin: 20px 0 10px 0;
    color: #333333;
}

.fake-photo{
    background: linear-gradient(13deg, #e66465, #9198e5);
    color: blanchedalmond;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album{
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: center;
    background: yellow;
    font-size: 25px;
}

@media(max-width: 1000px) {
}

@media(max-width: 735px) {
    .album-grid {
        gap: 2px;
    }

    .perfil-photo{
        height: 77px;
        width: 77px;
        font-size: 50px;
    }

    .perfil-image{
        height: 80px;
        margin-right: 30px;
    }

    .perfil-baixo{
        height: 60px;
        font-size: 15px;
    }

    .histories{
        height: 88px;
        padding-left: 0px;
    }

    .histories-photo{
        height: 90px;
    }
    
    .histories-photo div{
        height: 95px;
        width: 80px;
    }

    .histories-photo div div{
        height: 64px;
        width: 64px;
    }

    .histories-photo div div svg{
        height: 56px;
        width: 56px;
    }

    .perfil-meio{
        display: none;
    }

    .album-menu span{
        display: none;
    }

    .album-menu div{
        font-size: 25px;
    }

    .igtv-icon{
        height: 30px;
        width: 30px;
    }

    .album-menu div:first-child{
        border: 0;
    }
}